<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}CS50 Chat{% endblock %}</title>

    <!-- Bootstrap configs -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet" />

    <!-- Specific styles -->
    {% block styles %} {% endblock %}
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav>
        <div></div>
      </nav>
    </header>
    <main class="container py-4 flex-grow-1">{% block main %} {% endblock %}</main>

    <footer class="border-top py-3 mt-auto bg-white">
      <div class="container text-center text-muted">
        <small> CS50 Chat : Built with Flask, SQLite, Socket.IO </small>
      </div>
    </footer>
  </body>
</html>
